{{ define "main" }}
{{ $enable_comment := and (not (.Site.Params.disableComment | default false)) (not (in (.Site.Params.disableCommentByType | default "[]string") .Type)) }}
<main id="main">
  <div class="container has-padding">
    <div class="article-card post single">
      <h1 class="title">{{ .Title }}</h1>
      <div class="post-info">
        <span><i class="flaticon-schedule"></i><time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }} class="date">{{ .Date.Format "January 02, 2006" }}</time></span>
        <span><i class="flaticon-time"></i>{{ .ReadingTime | default (printf "%s mins" .ReadingTime) }} min read</span>
        {{ with .Type }}
          <span>{{ .}} </span>
        {{ end }}
        {{ with (partial "utils/author.html" . ) }}
          <span>{{.}}</span>
        {{end}}
        {{ if $enable_comment }}
          <a href="#comments">
            <i class="flaticon-chat"></i>
          </a>
        {{ end }}
      </div>
      <article class="post-entry content">
        {{.Content}}
      </article>
    </div>

    {{ if not (eq .Type "page") }}
      {{ partial "post_metadata.html" . }}
    {{ end }}

    {{ if $enable_comment }}
      <div id="comments" class="article-card">
        {{ partial "comments.html" . }}
      </div>
    {{ end }}

  </div>
</main>
{{ end }}
