{{ $siteTitle := .Site.Title }}
{{ $title := cond .IsHome .Site.Title (print .Title " | " .Site.Title)  }}
{{ $description := "" }}
{{ $tags := "" }}
{{ with .Description }} {{ $description = . }} {{ else }} {{ $description = cond .IsPage .Summary (.Site.Params.description | default "") }} {{ end }}
{{ with .Keywords }} {{ $tags = (delimit . ", ") }} {{ else }} {{ $tags = delimit (.Params.tags | default (slice) ) ", " }} {{ end }}
{{ $ogType := cond .IsPage "article" "website"}}

<head lang="{{ .Site.LanguageCode }}">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="color-scheme" content="dark light">
  <meta name="description" content="{{ $description }}" />
  <meta name="author" content="{{ (partial "utils/author.html" . ) }}">
  <meta name="keywords" content="{{ $tags }}">
  <title>{{ $title }}</title>
  <link rel="canonical" href="{{ .Permalink }}" />
  {{ with .OutputFormats.Get "RSS" }}
    <link
      href="{{ .RelPermalink }}"
      rel="alternate"
      type="application/rss+xml"
      title="{{ $siteTitle }}"
    />
  {{ end }}

  <!-- open graph -->
  <meta property="og:type" content="{{ $ogType }}" />
  <meta property="og:description" content="{{ $description }}" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:site_name" content="{{ $siteTitle }}" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:locale" content="{{ .Site.LanguageCode }}" />

  {{ if .IsPage }}
    <meta property="article:published_time" content="{{ (cond .PublishDate.IsZero .Date .PublishDate).Format "2006-01-02"}}" />
    {{ if not .Lastmod.IsZero }}<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02"}}" />{{ end }}
    {{ with (.Keywords | default .Params.tags) }} {{ range first 5 . }}
      <meta property="article:tag" content="{{ . }}" />
    {{ end }} {{ end }}
  {{ end }}

  <!-- twitter card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ $title }}" />
  <meta name="twitter:description" content="{{ $description }}" />
  <meta name="twitter:domain" content="{{ .Permalink }}" />

  <!-- icon meta -->
  {{ if (fileExists "static/favicon.ico") }}
    <link rel="icon" href="{{ "favicon.ico" | absURL }}">
  {{ end }}
  {{ if (fileExists "static/favicon16x16.png") }}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | absURL }}">
  {{ end}}
  {{ if (fileExists "static/favicon32x32.png") }}
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | absURL }}">
  {{ end}}
  {{ if (fileExists "static/apple-touch-icon.png") }}
    <link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | absURL }}" />
  {{ end}}

  <!-- Reset -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/modern-normalize@1.0.0/modern-normalize.min.css">

  <!-- Use Hugo Pipes to process the Sass file (convert to CSS, minify, and add a hash) -->
  {{ $base_style := resources.Get "css/basic.scss" | toCSS }}
  {{ $main_style := resources.Get "css/main.scss" | toCSS }}

  {{ $CSS := slice $base_style $main_style | resources.Concat "style.css" }}

  {{ if not .Site.IsServer }}
    {{ $CSS := $CSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $CSS.Permalink }}" integrity="{{ $CSS.Data.Integrity }}" rel="preload stylesheet" as="style"/>
  {{ else }}
    <link rel="stylesheet" href="{{ $CSS.Permalink }}" rel="preload stylesheet" as="style"/>
  {{ end }}

  <!-- misc -->
  {{ if not .Site.IsServer }}
    {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
</head>
