<script>
  const currentTheme = window.localStorage.getItem('theme')
  if (currentTheme === "dark") {
    document.body.classList.toggle("theme-dark");
  } else if (currentTheme == "light") {
    document.body.classList.toggle("theme-light");
  }
</script>
<header id="header">
  <div class="row">
    <div class="container has-padding nav">
      <button id="navbar-toggler" class="navbar-button" aria-hidden="true">{{ partial "utils/icons" "menu-sharp" }}</button>
      <div class="navbar-brand">
        <a class="logo navbar-button" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">
          <span>{{ .Site.Title }}</span>
        </a>
      </div>
      <nav class="navbar" role="navigation">
        <ul>
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            <li class="nav-bar-item{{ if or ($currentPage.IsMenuCurrent "main" .) (eq $currentPage.Section .Identifier) }} active{{ end }}">
              <a class="nav-link navbar-button" href="{{ .URL | relLangURL }}" title="{{ or .Title .Name }}">
                <span>{{ .Name | lower }}</span>
              </a>
            </li>
          {{ end }}
        </ul>
      </nav>
      <div class="theme-selector">
        <button class="button is-text" id="theme-selector-button" title="{{ i18n "toggleTheme" }}">
          <span class="label icon">{{ partial "utils/icons" "contrast-sharp" }}</span>
        </button>
      </div>
    </div>
    <div class="container has-padding">
      <div class="breadcrumb">
        {{ partial "breadcrumb.html" . }}
      </div>
    </div>
  </div>
</header>
