{{ $pag := .Paginator }}
{{ if $pag }}
{{ if gt $pag.TotalPages 1}}
<div class="pagination">
  <ul class="pagination-container">
    {{ if $pag.HasPrev }}
      <li class="page-item to-left">
        <a href="{{ $pag.Prev.URL }}" class="page-link" aria-label="{{ i18n "previous" }}">
          <span aria-hidden="true">&#xab; {{ i18n "previous" }}</span>
        </a>
      </li>
    {{ end }}

    {{ $ellipsed := false }}
    {{ $shouldEllipse := false }}

    {{ range $pag.Pagers }}
      {{ $right := sub .TotalPages .PageNumber }}
      {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
      {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
      
      {{ if $showNumber }}
        {{ $ellipsed = false }}
        {{ $shouldEllipse = false }}
      {{ else }}
        {{ $shouldEllipse = not $ellipsed }}
        {{ $ellipsed = true }}
      {{ end }}

      {{ if $showNumber }}
        <li class="page-item {{ if eq . $pag }}current{{ end }} page-number"><a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a></li>
      {{ else if $shouldEllipse }}
        <li class="page-item disabled"><span aria-hidden="true">&nbsp;&hellip;&nbsp;</span></li>
      {{ end }}
    {{ end }}

    {{ if $pag.HasNext }}
    <li class="page-item to-right">
      <a href="{{ $pag.Next.URL }}" class="page-link" aria-label="{{ i18n "next"}}">
        <span aria-hidden="true">{{ i18n "next"}} &#xbb;</span>
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
{{ end }}
