<script>
    window.FluencyCopyIcon = '{{ partial "utils/icons" "copy-outline" }}'
</script>

{{ $script := resources.Get "js/main.js" | minify | fingerprint }}
<script defer src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous" async></script>

{{ if and .Site.Params.mathRender .IsPage }}
    {{ partialCached "utils/math.html" . }}
{{ end }}

<noscript>
<style type=text/css>#theme-selector-button{display:none}</style>
</noscript>


{{ with .Site.Params.customScript }}
    {{ . | safeHTML }}
{{ end }}